
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<p style="font-size:24px">ban da mua cuon sach <strong>@Model.Title</strong>voi gia <strong>@Model.Price</strong> VND</p>
<h2>Buy</h2>

